body {
  background-color:rgba(249, 122, 41, 0.83);
}

h1
{
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
}

/* This is a class */
.container
{
margin: auto;
padding: 20px;
background-color: #dd60ad;
width: 50%;
box-shadow: 15px 20px 10px 10px rgb(255, 255, 255);
border-radius: 10%;
}
.container h1 {
  font-size: 4em;
}
.sidebar {
  float: left;
  margin: auto;
  padding: 20px;
  background-color: #dd60ad;
  width: 10%;
  box-shadow: 15px 20px 10px 10px rgba(76, 78, 56, 0.3);
  border-radius: 10%;
}
.navigation {
  display: table;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}
.horizontalline {
  padding-top: 20px;
}
.horizontalline li {
display: inline;
margin: 40px;
padding: 20px 60px 20px 60px;
background-color: white;
width: 10%;
border-radius: 15%;
}
.horizontalline li a {
  color: gray;
  text-decoration: none;
  font-family: 'Bebas Neue';
  /* I could have said sans-serif */
}
.horizontalline li a:hover {
  color: pink;
}

/* This is an id */
#dog
{
  margin: auto;
  width: 80%;
}
